name: build-index
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Repository Dispatch
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ secrets.GH_EMPIRE_LEGISLATION_TOKEN }}
        repository: jehiah/empire_legislation
        event-type: build-index